<div class="row">
    <div class="col-sm-4">
        <h3 id="confirm-h3">
            <%= latest.confirmed %>
        </h3>
        <p>confirmed</p>
    </div>
    <div class="col-sm-4">
        <h3 id="recover-h3">
            <%= latest.recovered %>
        </h3>
        <p>Recovered</p>
    </div>
    <div class="col-sm-4">
        <h3 id="death-h3">
            <%= latest.deaths %>
        </h3>
        <p>Deaths</p>
    </div>
</div>