<footer class="mt-auto">
    <div class="container">
        <div class="row ">
            <div class="col text-center ">
                <span> © Copyright 2020 developer team</span>
            </div>
        </div>
    </div>
</footer>