body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: #e9f8f7;
  height: 100%; /* needed for container min-height */
}
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
html::-webkit-scrollbar {
  display: none;
}

#root {
  height: 100%;
}

.no-outline {
  outline: none;
}
.testing {
  height: 100px;
  width: 100px;
  border-width: 5px;
  border-style: solid;
  border-color: red;
}
* {
  outline: none !important;
}
